.row:not(:first-child) {
  border-top: 1px solid var(--bg-secondary);
}

.row {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;
  transform-origin: center; /* Make sure the expansion starts from the top */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scaleY(0.4); /* Collapses the row vertically */
    opacity: 0;
  }
  to {
    transform: scaleY(1); /* Expands it vertically */
    opacity: 1;
  }
}

@keyframes minimize {
  from {
    transform: scaleY(1);
    opacity: 1;
    max-height: 100px;
  }
  to {
    transform: scaleY(0.4);
    opacity: 0;
    max-height: 0;
  }
}

.removed {
  animation: minimize 0.3s ease-in-out forwards;
  pointer-events: none;
}

.productDiv,
.quantityDiv,
.priceDiv,
.totalDiv {
  padding: 10px;
}

.priceDiv,
.totalDiv {
  min-width: 20%;
}

.productImage {
  width: clamp(80px, 25vw, 120px);
  object-fit: cover;
  margin-right: 16px;
}

.productTitle {
  text-align: left;
  margin: 0;
}

.productDiv {
  display: flex;
  align-items: center;
  width: 100%;
}

.productNameRemoveDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.bottomDiv {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.quantityDiv,
.priceDiv,
.totalDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.quantityDiv input {
  /* width: 20px; */
}

.removeButton {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-blue);
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  width: auto;
  margin-top: 15px;
}

.removeButton:hover {
  color: var(--text-primary); /* swap these for variables?*/
  background: none;
}

.removeButton:focus {
  outline: none;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .row {
    display: contents; /* Makes each row's children occupy the grid */
  }
  .productDiv {
    grid-column: 1;
    grid-row: auto;
  }
  .bottomDiv {
    grid-column: 2 / span 3; /* This makes it span columns 2-4 */
    grid-row: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide the bottomDiv into 3 equal columns */
  }
}
