.itemContainer {
  border: 3px solid var(--bg-secondary);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 100%;
  justify-content: flex-end;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.itemContainer * {
  color: var(--text-primary);
}

.itemContainer:hover .itemTitle {
  text-decoration: underline;
}

.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
}

.itemContainer img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  width: 150px;
  height: auto;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 150px;
}

.itemContainer p {
  font-size: 1.3rem;
  margin: 0 20px 10px 20px;
}

.starRating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.starRating span:not(:last-child) {
  font-size: 35px;
}

.starRating span:last-child {
  font-size: 20px;
  top: 5px;
  position: relative;
}
