.itemContainer {
  border: black 1px solid;
  margin: 10px;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 100%;
  justify-content: center;
}

.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
}

.itemContainer img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  width: 150px;
  height: auto;
}

.itemInfo {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 0 0;
}

.itemContainer p {
  font-size: 1.3rem;
  margin: 0 20px 10px 20px;
}

.starRating {
  display: flex;
  align-items: center;
  gap: 2px;
}
