.homeContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--white-smoke);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.introDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
}

.introDiv * {
  font-size: 1.5rem;
}

.introDiv button {
  width: 8rem;
}

@media (min-width: 500px) {
  .homeContainer {
    display: block;
  }
  .introDiv {
    position: absolute;
    right: 60%;
    bottom: 15%;
  }
}
