.checkOutPageContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.shoppingCartContainer {
}

.shoppingCartContainer h1 {
  font-size: 2.3rem;
  margin: 0 0 20px 0;
}

.checkOutTable {
  width: 100%;
  border-collapse: separate;
}

.checkOutTable thead,
.checkOutTable th {
  background-color: aqua;
}

.checkOutTable thead * {
  font-size: 1.5rem;
}

.checkOutTable tbody * {
  font-size: 1.3rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.orderSummary {
  min-width: 350px;
}
