.checkoutPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px 0 50px 0;
  width: 90%;
}

.shoppingCartContainer {
  width: clamp(280px, 100%, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingCartContainer h1 {
  color: var(--text-primary);
  text-align: center;
  font-size: 2rem;
  margin: 0 0 20px 0;
}

.quantityHeader,
.priceHeader,
.totalHeader {
  display: none;
}

.checkoutGrid {
  width: clamp(280px, 100%, 500px);
  background-color: white;
  border: 3px solid var(--bg-secondary);
  border-radius: 10px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.gridHeaderRow div {
  background-color: var(--bg-secondary);
}

.gridHeaderRow h3 {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 1.7rem;
}

.orderSummary {
  width: clamp(280px, 100%, 350px);
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid var(--bg-secondary);
  border-radius: 10px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.removedItem {
  grid-column: 1 / -1;
  padding: 1rem;
  background-color: #f8f8f8;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.emptyCartMessage {
  align-self: center;
  font-size: 1.5rem;
}

.emptyCartMessage a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .shoppingCartContainer {
    width: clamp(500px, 100%, 900px);
  }
  .checkoutGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; /* Adjust as needed */
    width: clamp(500px, 100%, 900px);
  }
  .gridHeaderRow {
    grid-column: 1 / -1;
    display: contents;
  }
  .checkoutGridBody {
    display: contents; /* Keeps grid layout for all children */
  }
  .quantityHeader,
  .priceHeader,
  .totalHeader {
    display: block;
  }
  .orderSummary {
    width: clamp(350px, 100%, 425px);
  }
}

@media (min-width: 1200px) {
  .checkoutPageContainer {
    flex-direction: row;
  }
}
