.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
}

.shopFastP {
  font-size: 2.3rem;
  font-weight: 700;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: min-content;
}

.navContainer {
  display: none;
  gap: 1.2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navContainer > a {
  font-size: 1.7rem;
  display: flex;
  padding: 0.5rem;
}

.navContainer > a:hover {
  background-color: var(--hover-overlay);
  border-radius: 0.4rem;
}

.cartMenuDiv {
  display: flex;
  gap: 0.5rem;
  position: relative;
  padding: 0.5rem;
}

.checkOutLink {
  padding: 0.3rem;
  border: 3px solid transparent;
}

.checkOutLink:hover {
  border-color: var(--color-blue);
}

.cartIconContainer {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.4rem;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 1%;
  background-color: white;
  border: 3px solid var(--bg-secondary); /* Optional: adds border */
  border-radius: 0 0 10px 10px; /* Optional: rounds bottom corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow */
  min-width: 200px;
  z-index: 1000; /* Ensure it appears above other content */
  animation: slideDown 0.2s ease-out;
  max-width: calc(100vw - 2rem);
}

.dropdownMenu a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--color-dark-blue);
  font-size: 1.5rem;
}

.dropdownMenu a:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-blue);
}

.dropdownMenu a:hover {
  background-color: var(--bg-secondary);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cartMenuDiv button {
  width: 2.3rem;
}

.cartQuantityWrapper {
  height: 2rem;
  width: 2rem;
  background-color: var(--accent);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
}

.cartQuantityWrapper p {
  justify-self: center;
  align-self: center;
}

.cartIconContainer svg {
  width: 2.8rem;
  height: 2.8rem;
}

.cartP {
  display: none;
  font-size: 3rem;
}

.cartIconContainer:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .shopFastP {
    width: 100%;
  }
  .navContainer {
    display: flex;
  }
  .hamburgerIcon {
    display: none;
  }
}
