.header {
  display: flex;
  justify-content: space-between;
}

.header > div:first-child {
  display: flex;
  align-items: center;
}

.header h2 {
  margin: 0 0 0 5px;
}

.navContainer {
  display: flex;
}

.navContainer > div {
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;
}

.navContainer h3 {
  margin: 0;
}

.cartIconContainer {
  display: flex;
}

.cartIconContainer > img {
  width: 40px;
  margin: 0 10px 0 0;
}
