.quantityInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.inputWrapper {
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 35px;
  text-align: center;
  background: white;
}

.inputWrapper span {
  font-weight: bold;
}

button {
  padding: 0.3rem 0.5rem;
  width: 25px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
