/* .orderSummary {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: white;
  border: 3px solid var(--bg-secondary);
  gap: 15px;
  border-radius: 10px; /* Rounded corners for a modern look */
/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
/* }  */

.titleDiv {
  background-color: var(--bg-secondary);
}

.title {
  text-align: center;
  font-size: 1.8rem;
  padding: 15px;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.infoDiv p,
.infoDiv strong {
  font-size: 1.4rem;
}

.subtotalDiv,
.shippingDiv,
.taxesDiv,
.orderTotalDiv {
  display: flex;
  justify-content: space-between;
}

.checkoutButton {
  font-size: 1.5rem;
  margin: 5px 0 15px 0;
}

.checkoutButton {
  min-width: 90%;
  align-self: center;
}
