.checkOutPageContainer {
  display: flex;
}

.shoppingCartContainer {
  margin: 0 0 0 10px;
  width: 60%;
}

.checkOutTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.row {
  border-bottom: 1px black solid;
}

.productCell,
.priceCell,
.quantityCell,
.totalCell {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px black solid;
}

.productCell {
  width: 35%;
}

.priceCell,
.quantityCell,
.totalCell {
  width: 15%;
}

.quantityCell input {
  width: 30px;
}

.productInfo {
  display: flex;
  align-items: center;
}

.productImage {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.productTitle {
  text-align: left;
  margin: 0;
}

.removeCell {
  width: 5%;
  opacity: 0;
  transition: opacity 0.3s;
}

.removeCell button {
  width: 50px;
  height: 40px;
}

.row:hover .removeCell {
  opacity: 1; /* Fully visible when the row is hovered */
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
