.removeCartItemA:hover {
  text-decoration: underline;
}

.undo {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-blue);
  font-size: 1.2rem;
}

.undo:hover {
  background: none;
  text-decoration: underline;
}
